node_modules
.env
script.example.text
zClassDiagram_NFT_Marketplace.png
zUsecase_NFT_Marketplace.png
.github
smart-contract-des.text
accounts.text
.DS_Store
/server/ignition/deployments/*
!/server/ignition/deployments/.gitkeep
cache
/subgraph/*/data/*
!/subgraph/*/data/.gitkeep
/server/artifacts/*
!/server/artifacts/.gitkeep
clientTest
problems_and_solution
